---
title: 'Foo bar'
---

h1 hello world

:markdown
  # test title foo

.supported.hidden
  | Upload

.unsupported.hidden
  :markdown
    Unsupported, install

button.tidepool-upload
  | Upload to Tidepool

script(src="js/jquery.js", type="text/javascript")
script(src="js/web.js", type="text/javascript")

